In [1]:
import pandas as pd

# load the dataset
df = pd.read_csv("../data/raw_bank_marketing.csv", sep=";")

# basic checks
print(df.shape)
df.head()

FileNotFoundError: [Errno 2] No such file or directory: '../data/raw_bank_marketing.csv'

In [2]:
import os
os.getcwd()

'/Users/ammulu/Downloads/bank-marketing-campaign-analysis/notebooks'

In [3]:
import os
os.listdir("../data")

FileNotFoundError: [Errno 2] No such file or directory: '../data'

In [4]:
import pandas as pd

df = pd.read_csv("../data/raw_bank_marketing.csv", sep=";")
print(df.shape)
df.head()

(45211, 17)

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,58,management,married,tertiary,no,2143,yes,no,unknown,5,may,261,1,-1,0,unknown,no
1,44,technician,single,secondary,no,29,yes,no,unknown,5,may,151,1,-1,0,unknown,no
2,33,entrepreneur,married,secondary,no,2,yes,yes,unknown,5,may,76,1,-1,0,unknown,no
3,47,blue-collar,married,unknown,no,1506,yes,no,unknown,5,may,92,1,-1,0,unknown,no
4,33,unknown,single,unknown,no,1,no,no,unknown,5,may,198,1,-1,0,unknown,no

In [5]:
df['y'].value_counts(normalize=True)

y
no     0.883015
yes    0.116985
Name: proportion, dtype: float64

In [6]:
df.groupby('campaign')['y'].value_counts(normalize=True).unstack().head(10)

y               no       yes
campaign
1         0.854024  0.145976
2         0.887965  0.112035
3         0.888064  0.111936
4         0.909994  0.090006
5         0.921202  0.078798
6         0.928737  0.071263
7         0.936054  0.063946
8         0.940741  0.059259
9         0.935780  0.064220
10        0.947368  0.052632

In [7]:
df.groupby('job')['y'].value_counts(normalize=True).unstack().sort_values('yes', ascending=False).head(10)

y                    no       yes
job
student        0.713220  0.286780
retired        0.772085  0.227915
unemployed     0.844973  0.155027
management     0.862444  0.137556
admin.         0.877973  0.122027
self-employed  0.881571  0.118429
unknown        0.881944  0.118056
technician     0.889430  0.110570
services       0.911170  0.088830
housemaid      0.912097  0.087903

In [8]:
df.groupby('contact')['y'].value_counts(normalize=True).unstack()

y                no       yes
contact
cellular   0.850811  0.149189
telephone  0.865795  0.134205
unknown    0.959293  0.040707

In [9]:
df.groupby('poutcome')['y'].value_counts(normalize=True).unstack()

y               no       yes
poutcome
failure   0.873903  0.126097
other     0.833152  0.166848
success   0.352747  0.647253
unknown   0.908385  0.091615